openai
langchain
langchain-openai
langsmith
langchain_text_splitters
langchain_community
faiss-cpu
sentence-transformers
langchain-huggingface
langgraph
langchain-tavily
streamlit
streamlit-mermaid
langchain-mcp-adapters
nest-asyncio
pymupdf4llm
pywin32
PyPDF2
langchain-core
python-dotenv

# for whisper
faster-whisper
pydub
torchaudio
numpy
scipy
librosa
soundfile
matplotlib
japanize-matplotlib
pyannote.audio

# playwright
asyncssh
playwright
